name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Get latest tag
      run: echo "LATEST_TAG=$(git describe --tags `git rev-list --tags --max-count=1`)" >> $GITHUB_ENV
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag prompt-studio:${{env.LATEST_TAG}}
#    - name: Set up QEMU
#      uses: docker/setup-qemu-action@v3
#    - name: Set up Docker Buildx
#      uses: docker/setup-buildx-action@v3
#    - name: Login to Docker Hub
#      uses: docker/login-action@v3
#      with:
#        username: ${{ secrets.DOCKERHUB_USERNAME }}
#        password: ${{ secrets.DOCKERHUB_TOKEN }}
#    - name: Login to GitHub Container Registry
#      uses: docker/login-action@v3
#      with:
#        registry: ghcr.io
#        username: ${{ github.repository_owner }}
#        password: ${{ secrets.GITHUB_TOKEN }}
#    - name: Build and push
#      uses: docker/build-push-action@v5
#      with:
#        context: .
#        platforms: linux/amd64,linux/arm64
#        push: true
#        tags: |
#          user/app:latest
#          user/app:1.0.0
#          ghcr.io/user/app:latest
#          ghcr.io/user/app:1.0.0
